.rating-component {
    display: flex;
    width: fit-content;
}

.rating-component-item {
    width: 2rem;
    height: 2rem;
}

.rating-component .rating-component-item:not(:last-of-type) {
    padding: 0.1rem;
}

.rating-component-item .rating-component-image {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    content: url("/apps/pareesh/custom/clientlib/resource/star-default.png");
}

.rating-component-item[active] .rating-component-image,
.rating-component-item[active][selected] .rating-component-image{
    content: url("/apps/pareesh/custom/clientlib/resource/star-active.png");
}

.rating-component-item[selected] .rating-component-image {
    content: url("/apps/pareesh/custom/clientlib/resource/star-selected.png");
}

.rating-component input.foundation-field-related{
    display: none;
}